/* borders made from backgrounds */
/* triangles */
/* css3 */
.wrapper {
  max-width: 980px;
  margin: 0 auto; }
  .wrapper:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.grid-1 {
  width: -1.913%;
  margin: 0 4.082%;
  float: left; }

.grid-2 {
  width: 4.337%;
  margin: 0 4.082%;
  float: left; }

.grid-3 {
  width: 10.587%;
  margin: 0 4.082%;
  float: left; }

.grid-4 {
  width: 16.837%;
  margin: 0 4.082%;
  float: left; }

.grid-5 {
  width: 23.087%;
  margin: 0 4.082%;
  float: left; }

.grid-6 {
  width: 29.337%;
  margin: 0 4.082%;
  float: left; }

.grid-7 {
  width: 35.587%;
  margin: 0 4.082%;
  float: left; }

.grid-8 {
  width: 41.837%;
  margin: 0 4.082%;
  float: left; }

.grid-9 {
  width: 48.087%;
  margin: 0 4.082%;
  float: left; }

.grid-10 {
  width: 54.337%;
  margin: 0 4.082%;
  float: left; }

.grid-11 {
  width: 60.587%;
  margin: 0 4.082%;
  float: left; }

.grid-12 {
  width: 66.837%;
  margin: 0 4.082%;
  float: left; }

.grid-13 {
  width: 73.087%;
  margin: 0 4.082%;
  float: left; }

.grid-14 {
  width: 79.337%;
  margin: 0 4.082%;
  float: left; }

.grid-15, #article-page #title hgroup, #article-page .content article {
  width: 85.587%;
  margin: 0 4.082%;
  float: left; }

.grid-16, .single-column, #masthead, #title hgroup, footer#global .authors header, footer#global .authors .author, footer#global footer.copyright {
  width: 91.837%;
  margin: 0 4.082%;
  float: left; }

.webfont, .calluna-regular, body, #masthead nav, .calluna-italic, h2, em, .articles h2, .calluna-bold, strong, footer#global footer.copyright a, .calluna-bold-italic, h1, .serif-bold, .section-heading, #masthead #logo, .serif-italic, .section-heading em, #masthead #logo em {
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }

.helvetica {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.calluna-regular, body, #masthead nav {
  font-family: "CallunaSans-regular", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.calluna-italic, h2, em, .articles h2 {
  font-family: "CallunaSans-italic", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.calluna-bold, strong, footer#global footer.copyright a {
  font-family: "CallunaSans-bold", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.calluna-bold-italic, h1 {
  font-family: "CallunaSans-bold-italic", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.serif-bold, .section-heading, #masthead #logo {
  font-family: "SerifBeta-bold", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.serif-italic, .section-heading em, #masthead #logo em {
  font-family: "SerifBeta-italic", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.meslo, pre {
  font-family: "Meslo", "Consolas Monaco", "Courier New", "Courier", monospace; }

body {
  font-size: 1em;
  line-height: 1.5em; }

.tiny, #article-page .content article pre, footer#global footer.copyright {
  /* 11 / 18 */
  font-size: 0.688em;
  line-height: 1.636em; }

.small, h5, #masthead #logo, #masthead nav a, #article-page #title hgroup .byline, #article-page .content article figure figcaption, footer#global .authors .author p {
  /* 14 / 24 */
  font-size: 0.875em;
  line-height: 1.714em; }

.normal {
  /* 16 / 24 */
  font-size: 1em;
  line-height: 1.5em; }

.big, h3, #article-page .content article footer .pagination {
  /* 24 / 30 */
  font-size: 1.25em;
  line-height: 1.2em; }

.large, h2 {
  /* 24 / 30 */
  font-size: 1.5em;
  line-height: 1.25em; }

.massive, h1 {
  /* 42 / 48 */
  font-size: 2.625em;
  line-height: 1.143em; }

img {
  max-width: 100%;
  -moz-border-radius-topleft: 5px;
  -webkit-border-topleft: 5px;
  border-y-left: 5px; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.2em; }

a {
  color: #fff;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out; }
  a:hover {
    color: #f27b33; }

p {
  margin-top: 0; }

pre {
  padding-left: 0.75em;
  color: #d8c191; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

.section-heading, #masthead #logo {
  color: #fff;
  padding-left: 25px;
  background-image: url("../img/gems.png");
  background-repeat: no-repeat;
  background-position: left center; }
  .section-heading em, #masthead #logo em {
    margin-right: 0.375em; }

html,
body {
  height: 100%;
  margin: 0; }

body {
  background-image: url("../img/bg-texture.gif");
  background-repeat: repeat;
  background-position: left top; }

#masthead {
  padding: 0.75em 0;
  margin-bottom: 2.25em;
  color: #fffdf7; }
  #masthead a {
    padding: 1.5em 0.75em; }
  #masthead #logo {
    padding-left: 25px;
    display: inline;
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out; }
    #masthead #logo:hover {
      color: #f27b33; }
  #masthead nav {
    float: right; }
    #masthead nav li {
      display: inline; }
    #masthead nav a {
      display: inline; }

#title hgroup {
  clear: both;
  padding-bottom: 2.25em;
  color: #fffdf7; }
  #title hgroup h1 {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    margin-right: 0.375em; }
  #title hgroup h2 {
    margin-bottom: 0.375em; }
  #title hgroup aside {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    display: none; }

.content {
  margin-bottom: 3em; }

.articles {
  padding: 1.5em 0; }
  .articles article {
    width: 91.837%;
    margin: 0 4.082%;
    float: left;
    margin-bottom: 2.25em; }
    .articles article a {
      display: block;
      cursor: pointer; }
      .articles article a:hover h2 {
        color: #f27b33; }
      .articles article a:hover h4 {
        color: #888; }
      .articles article a:hover time {
        color: #777; }
  .articles h2 {
    color: #fff;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
  .articles h4 {
    display: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
  .articles aside {
    display: none; }
    .articles aside time {
      color: #444;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      -ms-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }

#article-page #title hgroup {
  float: none;
  margin: 0 auto; }
  #article-page #title hgroup h1 {
    margin-bottom: 0.375em;
    color: #fff; }
  #article-page #title hgroup h2 {
    color: #fff; }
  #article-page #title hgroup .byline {
    color: #d8c191; }
    #article-page #title hgroup .byline em {
      margin-right: 0.375em; }
#article-page .content article {
  float: none;
  margin: 0 auto;
  position: relative;
  color: #e5e5e5; }
  #article-page .content article figure {
    float: left;
    margin: 0 auto;
    margin-right: 1.5em;
    margin-bottom: 0.375em;
    color: #fffdf7; }
    #article-page .content article figure img {
      max-height: 500px;
      border: 8px solid #1a1a1a; }
    #article-page .content article figure figcaption {
      float: right; }
  #article-page .content article aside {
    margin-bottom: 0.75em;
    color: #fff; }
    #article-page .content article aside time {
      color: #555; }
      #article-page .content article aside time strong {
        margin-left: 0.375em;
        color: #888; }
  #article-page .content article pre {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    margin: 0; }
  #article-page .content article footer .pagination {
    clear: both;
    padding: 1.5em 0;
    text-align: center; }
    #article-page .content article footer .pagination li {
      display: inline; }
    #article-page .content article footer .pagination .older {
      float: left; }
    #article-page .content article footer .pagination .newer {
      float: right; }

footer#global {
  color: #fff; }
  footer#global .authors header {
    padding-bottom: 1em;
    margin-bottom: 1.5em; }
  footer#global .authors .author {
    padding-bottom: 1.5em; }
    footer#global .authors .author .avatar {
      float: left; }
    footer#global .authors .author h4 {
      margin: 0;
      line-height: 1.4em;
      color: #fff; }
    footer#global .authors .author a {
      color: #777;
      -webkit-transition: color 0.2s ease-in-out;
      -moz-transition: color 0.2s ease-in-out;
      -o-transition: color 0.2s ease-in-out;
      -ms-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out; }
      footer#global .authors .author a:hover {
        color: #f27b33; }
    footer#global .authors .author p {
      color: #ccc; }
    footer#global .authors .author .author-info {
      margin-left: 4em; }
      footer#global .authors .author .author-info hgroup {
        margin-bottom: 0.75em; }
  footer#global footer.copyright {
    text-align: center;
    color: #555; }
    footer#global footer.copyright a {
      color: #777;
      -webkit-transition: color 0.2s ease-in-out;
      -moz-transition: color 0.2s ease-in-out;
      -o-transition: color 0.2s ease-in-out;
      -ms-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out; }
      footer#global footer.copyright a:hover {
        color: #f27b33; }

.group, #masthead, .articles article, .articles article a, footer#global .authors, footer#global .authors .author {
  min-height: 1px; }
  .group:after, #masthead:after, .articles article:after, .articles article a:after, footer#global .authors:after, footer#global .authors .author:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.divider, #masthead, footer#global .authors header {
  background-image: url("../img/divider.png");
  background-position: left bottom;
  background-repeat: repeat-x; }

@media screen and (min-width: 30em ) {
  body {
    font-size: 1.125em;
    line-height: 1.688em; }

  h1 {
    font-size: 3.125em;
    line-height: 0.96em; }

  .articles article a {
    position: relative; }
  .articles article hgroup {
    width: 75%;
    margin-left: 25%; }
    .articles article hgroup h2 {
      margin-bottom: 0.375em; }
    .articles article hgroup h4 {
      color: #555;
      display: block; }
  .articles article aside {
    display: block;
    position: absolute;
    left: 0;
    top: 0; }

  #article-page #title hgroup {
    width: 66.837%;
    margin: 0 4.082%;
    float: left;
    float: none;
    margin: 0 auto; }
  #article-page .content article {
    width: 66.837%;
    margin: 0 4.082%;
    float: left;
    float: none;
    margin: 0 auto; }

  footer#global .authors .author {
    width: 41.837%;
    margin: 0 4.082%;
    float: left; } }
@media screen and ( min-width: 40em ) {
  .articles article h2 {
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    -ms-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out; }
  .articles article h4 {
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    -ms-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out; }
  .articles article time {
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    -ms-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out; }

  #article-page .content article pre {
    font-size: 0.813em;
    line-height: 1.846em; } }
@media screen and ( min-width: 45em ) {
  #title hgroup h1 {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    margin-right: 0.375em; }
  #title hgroup aside {
    display: inline-block;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle; }
    #title hgroup aside h2 {
      margin-bottom: 0; }

  #article-page #title hgroup {
    width: 54.337%;
    margin: 0 4.082%;
    float: left;
    float: none;
    margin: 0 auto; }
  #article-page .content article {
    width: 54.337%;
    margin: 0 4.082%;
    float: left;
    float: none;
    margin: 0 auto;
    position: relative; }
    #article-page .content article * {
      position: relative; }
    #article-page .content article aside {
      position: absolute;
      top: 0;
      right: 100%;
      width: 6em;
      text-align: right;
      margin-right: 1em; } }
@media screen and ( min-width: 50em ) {
  .articles article a:hover h4 {
    color: #fff; }
  .articles article hgroup {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    float: none;
    width: 85%;
    margin-left: 15%; }
    .articles article hgroup h2 {
      width: 41.837%;
      margin: 0 4.082%;
      float: left; }
    .articles article hgroup h4 {
      width: 41.837%;
      margin: 0 4.082%;
      float: left;
      color: #666; } }
