
@media screen and (min-width: 30em ) {

    body {
      @include font(18, 30);
      @include transition(all);
    }

    h1 {
        @include font( 50, 48 ); 
    }

    .articles {

        article {

            a {
                position: relative;
            }

            hgroup {
                width: 75%;
                margin-left: 25%;

                h2 {
                    margin-bottom: $base/4;
                }

                h4 {
                    color: #555;
                    display: block;
                }

                time {
                }
            }

            aside {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }

    #article-page {

        #title {

            hgroup {
                @include grid( 14 );
                float: none;
                margin: 0 auto;
            }
        }

        .content {
            article {
                @include grid( 14 );
                float: none;
                margin: 0 auto;
            }
        }
    }

    footer#global {

        .authors {

            .author {
                @include grid( 8 );
            }
        }

    }
}

// animations look choppy when we change layout
// let's override it here
@media screen and ( min-width: 40em ) {

    .articles {

        article {

            h2 {
                @include transition( color, 0.1s );
            }

            h4 {
                @include transition( color, 0.1s );
            }

            time {
                @include transition( color, 0.1s );
            }
        }
    }

    #article-page {

        .content {

            article {

                pre {
                    @include font( 13, 24 );
                }
            }
        }
    }
}

@media screen and ( min-width: 45em ) {

    #title {

        hgroup {

            h1 {
                @include inline-block( middle );
                margin-right: $base/4;
            }

            aside {
                display: inline-block;
                @include inline-block( middle );

                h2 {
                    margin-bottom: 0;
                }

            }
        }
    }

    #article-page {

        #title {

            hgroup {
                @include grid( 10 );
                float: none;
                margin: 0 auto;
            }
        }

        .content {

            article {
                @include grid( 10 );
                float: none;
                margin: 0 auto;
                position: relative;

                * {
                    position: relative;
                }

                aside {
                    position: absolute;
                    top: 0;
                    right: 100%;
                    width: 6em;
                    text-align: right;
                    margin-right: 2em;
                }

            }
        }
    }
}

@media screen and ( min-width: 50em ) {

    body {
      @include font(21, 32);
    }

    #article-page {

        #title {

            hgroup {
              @include grid( 11 );
              margin: 0 auto;
              float: none;
            }
        }

        .content {

            article {
              @include grid( 11 );
              margin: 0 auto;
              float: none;
            }
        }
    }

    .articles {

        article {

            a {

                &:hover {

                    h4 {
                        color: #fff;
                    }
                }
            }

            hgroup  {
                @include ungrid;
                width: 85%;
                margin-left: 15%;

                h2 {
                    @include grid( 8 );
                }

                h4 {
                    @include grid( 8 );
                    color: #666;
                }
            }
        }
    }

    #article-page {

        .content {

            article {
            }
        }
    }
}
