<div id="title">
  <div class="wrapper">
    <hgroup>
      <h1>Writing</h1>
      <aside>
        <h2><em>Tales from the center of the internet!</em></h2>
      </aside>
    </hgroup>
  </div>
</div>
<div class="wrapper"></div>
<div class="articles content">
  <div class="wrapper">
    <%= render partial: 'post', collection: @posts %>
  </div>
</div>


