// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

#post_published_date, #post_published_time {
  width: 10em;
}

#post_content {
  height: 50em;
  font-family: Monaco, "Menlo", "Courier New", monospace;
  font-size: 1.1em
}

form fieldset > ol > li.boolean label {
  width: auto;
}

.attributes_table th {
  min-width: 150px;
}

.attributes_table pre {
  white-space: pre-wrap;
}