
// Title:   Master styles for screen media
// Author: Jordan Cooperman, jordancooperman@gmail.com
// Year: 2011

//////////////////////////////////////////////////////////////////

// Table of contents

//////////////////////////////////////////////////////////////////

// 0.General
// 1.Navigation
// 2.Layouts
// 3.Extensible Classes
// 4.Sprites, Icons

//////////////////////////////////////////////////////////////////


///////////////////////////////////////

// 0.`General

///////////////////////////////////////

$yellow: #f7c76e;
$tan: #d8c191;
$orange: #f27b33;
$cream: #FFFDF7;

@import "partials/mixins";
@import "partials/grid";
@import "partials/type";

img {
    max-width: 100%;
    @include rounded_corner( 5px, left, top );
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.2em;
}

h1 {
    @extend .massive;
    @extend .calluna-bold-italic;
}

h2 {
    @extend .large;
    @extend .calluna-italic;
}

h3 {
    @extend .big;
}


h5 {
    @extend .small;

}

a {
    color: #fff;
    @include transition( color, 0.2s );

    &:hover {
        color: $orange;
    }
}

p {
    margin-top: 0;
}

em {
    @extend .calluna-italic;
}

strong {
    @extend .calluna-bold;
}

pre {
    padding-left: $base/2;
    @extend .meslo;
    color: $tan;
}

::-moz-selection { background: #333; color: #fff; text-shadow: none; }
::selection { background: #333; color: #fff; text-shadow: none; }

.section-heading {
    color: #fff;
    padding-left: 25px;
    @extend .serif-bold;
    background-image: url('../img/gems.png');
    background-repeat: no-repeat;
    background-position: left center;

    em {
        margin-right: $base/4;
        @extend .serif-italic;
    }
}


///////////////////////////////////////

// 2.`Layout

///////////////////////////////////////

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('../img/bg-texture.gif');
    background-repeat: repeat;
    background-position: left top;
}

#masthead {
    @extend .single-column;
    @extend .group;
    padding: $base/2 0;
    margin-bottom: $base*1.5;
    @extend .divider;
    color: #fffdf7;

    a {
        padding: $base $base/2;

        &.rss {
            padding-left: 16px;
        }
    }

    #logo {
        @extend .section-heading;
        padding-left: 25px;
        @extend .small;
        display: inline;
        @include transition( color );

        &:hover {
            color: $orange;
        }
    }

    nav {
        @extend .serif-italic;
        float: right;

        li { display: inline }

        a {
            display: inline;
            @extend .small;
        }
    }
}

#title {

    hgroup {
        @extend .single-column;
        clear: both;
        padding-bottom: $base*1.5;
        color: #fffdf7;

        h1 {
            @include inline-block( middle );
            margin-right: $base/4;
        }

        h2 {
            margin-bottom: $base/4;
        }

        aside {
            @include inline-block( middle );
            display: none;
        }
    }
}

.content {
    margin-bottom: $base*2;
}

.articles {
    padding: $base 0; 

    article {
        @include grid( 16 );
        @extend .group;
        margin-bottom: $base*1.5;

        a {
            display: block;
            @extend .group;
            cursor: pointer;

            &:hover {

                h2 {
                    color: $orange;
                }

                h4 {
                    color: #888;
                }

                time {
                    color: #777;
                }
            }
        }
    }

    h2 {
        @extend .calluna-italic;
        color: #fff;
        @include transition( all, 0.2s );
    }

    h4 {
        display: none;
        @include transition( all, 0.2s );
    }

    aside {
        display: none;

        time {
            color: #444;
            @include transition( all, 0.2s );
        }
    }
}

#article-page {

    #title {

        hgroup {
            @extend .grid-15;
            float: none;
            margin: 0 auto;
            margin-bottom: 1em;

            h1 {
                margin-bottom: $base/4;
                color: #fff;
            }

            h2 {
                margin-bottom: $base/2;
                color: #fff;
            }

            .byline {
                @extend .small;
                color: #ccc;

                em {
                    margin-right: $base/4;
                }
            }
        }
    }

    .content {

        article {
            @extend .grid-15;
            float: none;
            margin: 0 auto;
            position: relative;
            color: #e5e5e5;

            a {
                text-decoration: underline;
            }

            pre {
                padding-top: $base/2;
                padding-bottom: $base/2;
                margin: 0;
                @extend .tiny;
            }

            figure {
                float: left;
                margin: 0 auto;
                margin-right: $base;
                margin-bottom: $base/4;
                color: $cream;

                img {
                    max-height: 500px;
                    border: 8px solid #1a1a1a;
                }

                figcaption {
                    float: right;
                    @extend .small;
                }
            }

            aside {
                margin-bottom: $base/2;
                color: #fff;

                time {
                    color: #555;

                    strong {
                        margin-left: $base/4;
                        color: #888;
                    }
                }
            }

            footer {

                .pagination {
                    clear: both;
                    padding: $base 0;
                    @extend .big;
                    text-align: center;
                    @extend .calluna-italic;

                    li {
                        display: inline;
                    }

                    .older {
                        float: left;
                    }

                    .newer {
                        float: right;
                    }
                }
            }
        }
    }
}

footer#global {
    color: #fff;

    .authors {
        @extend .group;

        header {
            @extend .single-column;
            padding-bottom: $base/1.5;
            margin-bottom: $base;
            @extend .divider;
        }

        .author {
            @extend .single-column;
            @extend .group;
            padding-bottom: $base;

            .avatar {
                float: left;
            }

            h4 {
                margin: 0;
                line-height: 1.4em;
                color: #fff;
            }

            a {
                color: #777;
                @include transition( color, 0.2s );

                &:hover {
                    color: $orange;
                }
            }

            p {
                @extend .small;
                color: #ccc;
            }


            .author-info {
                margin-left: 4em;

                hgroup {
                    margin-bottom: $base/2;
                }
            }
        }
    }

    footer.copyright {
        @extend .single-column;
        @extend .tiny;
        text-align: center;
        color: #555;

        a {
            @extend .calluna-bold;
            color: #777;
            @include transition( color, 0.2s );

            &:hover {
                color: $orange;
            }
        }
    }
}


///////////////////////////////////////

// 3.`Extensible Classes

///////////////////////////////////////

.group {
    min-height: 1px;

    &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }
}

.divider {
    background-image: url('../img/divider.png');
    background-position: left bottom;
    background-repeat: repeat-x;
}

///////////////////////////////////////

// 4.`Sprites, Icons

///////////////////////////////////////

.rss {
    background-image: url('../img/icon-rss.png');
    background-repeat: no-repeat;
    background-position: left center;
}

@import "partials/media";
