<section class="author">
  <a href="#">
    <div class="avatar">
      <%= icon_for(author) %>
    </div>
    <div class="author-info">
      <hgroup>
        <h4><%= author.name %></h4>
        <em><%= author.twitter %></em>
      </hgroup>
      <p><%= author.bio %></p>
    </div>
  </a>
</section>