<!DOCTYPE html>
<html>

<head>
  <title>The Coopermen - Writing</title>

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <%= stylesheet_link_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body>

  <div class="wrapper">
    <header id="masthead">
      <a id="logo"><em>The</em>Coopermen</a>
      <nav>
        <ul>
          <li><a href="#" class="rss">rss</a></li>
        </ul>
      </nav>
    </header>
  </div>

  <div id="title">
    <div class="wrapper">
      <hgroup>
        <h1>Writing</h1>
        <aside>
          <h2><em>Tales from the center of the internet!</em></h2>
        </aside>
      </hgroup>
    </div>
  </div>
  <div class="wrapper">
  </div>
  <div class="articles content">
    <div class="wrapper">
      <article>
        <a href="article.html">
          <hgroup>
            <h2>CSS3: There's a mixin for that</h2>
            <h4>Creating a library of mixins for CSS3 and SASS makes using DRY principles easy as pie</h4>
          </hgroup>
          <aside>
            <time datetime="2011-11-13">Nov 13, 2011</time>
          </aside>
        </a>
      </article>

      <article>
        <a href="article.html">
          <hgroup>
            <h2>Fluid grids with SASS</h2>
            <h4>The benefits of creating your own custom fluid grid</h4>
          </hgroup>
          <aside>
            <time datetime="2011-11-13">Nov 13, 2011</datetime>
            </aside>
          </a>
        </article>

        <article>
          <a href="article.html">
            <hgroup>
              <h2>Ruby on Rails and the asset pipeline</h2>
              <h4>It's obviously great, let's make it greater</h4>
            </hgroup>
            <aside>
              <time datetime="2011-11-13">Nov 13, 2011</datetime>
              </aside>
            </a>
          </article>
        </div>
      </div><!-- /articles -->
      <footer id="global">
        <div class="wrapper">
          <div class="authors">
            <header>
              <h5 class="section-heading"><em>The</em>Authors</h5>
            </header>

            <section class="author">
              <a href="#">
                <div class="avatar">
                  <img src="assets/img/twitter-icon-jordan.gif" />
                </div>
                <div class="author-info">
                  <hgroup>
                    <h4>Jordan Cooperman</h4>
                    <em>@jordancooperman</em>
                  </hgroup>
                  <p>Jordan is a front-end developer working at Vector Media Group in New York City. He is a mad about responsive grids, typography and functional JavaScript. He does not have a mustache.
                  </div>
                </a>
              </section>

              <section class="author">
                <a href="#">
                  <div class="avatar">
                    <img src="assets/img/twitter-icon-ross.gif" />
                  </div>
                  <div class="author-info">
                    <hgroup>
                      <h4>Ross Cooperman</h4>
                      <em>@rosscooperman</em>
                    </hgroup>
                    <p>
                      Ross is a software developer, working at East Media in New York City. He has countless character flaws.
                    </p>
                  </div>
                </a>
              </section>

              <footer class="copyright">
                &copy; The Coopermen 2012. Layout inspired by <a href="http://jonikorpi.com">jonikorpi.com</a>
              </footer>
            </div><!-- /content -->
          </div>
        </footer>
      </body>

      </html>
